@blue = #2176ff;
@warn = #ff5032;
@bc = #cfcfcf;
@white = #fff;
@text = #121212;
@border = #e5e8ed;
@pc = ~'screen and (min-width:1200px)';
@mob = ~'screen and (max-width:1200px)';
@smallMob = ~'screen and (max-width:320px)';
